@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";

$family-sans-serif: "Roboto", sans-serif;
$family-code: "Roboto Mono", "Inconsolata", "Monaco", "Lucida Console", monospace;

$primary: rgb(107, 169, 189);
$input-background-color: rgb(237, 246, 250);
$input-border-color: transparent;
$input-shadow: none;

@import "../node_modules/bulma/bulma";

@mixin thin-border {
  border-style: solid;
  border-color: rgb(231, 231, 230);
  border-width: 1px;
}

html {
  min-height: 100vh;
}

body {
  background-color: rgb(248, 252, 253);
  min-height: 100vh;
}

.card {
  @include thin-border;
  border-radius: 4px;
}

.card.column.is-gapless {
  padding: 0;
}

.card-footer-item {
  width: 100%;
  border-radius: 0 0 4px 4px;
}

.card-content {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.field-label.is-prefix {
  margin-right: 0.5rem;
}

.level.has-small-bottom-margin {
  margin-bottom: 1rem;
}

.has-small-left-margin {
  margin-left: 0.5rem;
}

button.button {
  padding-left: 1rem;
  padding-right: 1rem;
}

header.column-header {
  @include thin-border;

  padding-top: 0.5rem;
  padding-left: 1rem;
  height: 4vh;
}

.column.column-left header.column-header {
  border-radius: 4px 0 0 0;
}

.column.column-right header.column-header {
  border-radius: 0 4px 0 0;
  border-left-width: 0px;
}

.box.repository-viewer {
  padding: 0;
  max-height: 80vh;
}

.box.repository-viewer .columns {
  max-height: 76vh;
  margin-bottom: 0;
}

.scroll-contents-vertical {
  overflow-x: hidden;
  overflow-y: auto;
}

.file-list {
  @include thin-border;

  border-right-width: 1px;
  border-top-width: 0;
  border-radius: 0 0 0 4px;
}

.file-list ul li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.file-list ul li.is-disabled {
  cursor: wait;
  color: $grey-light;
}

.file-list ul li.is-selected,
.file-list ul li:hover {
  background-color: rgb(237, 246, 250);
}

.file-list ul li.is-selected {
  cursor: auto;
}

.file-list ul li.is-disabled:hover {
  background-color: $white;
}

.file-content-panel {
  @include thin-border;

  border-radius: 0 4px 4px 0;
  border-top-width: 0;
  border-left-width: 0;
}

.content pre {
  padding: 0;
}

.content table td {
  border-bottom: none;
}

.content table td ,
table.hljs-ln td.hljs-ln-numbers,
table.hljs.ln td.hljs-ln-code {
  padding-top: 0;
  padding-bottom: 0;
}

.hljs {
  background-color: $white;
}

.file-counter {
  border-radius: 5px;
  background-color: rgb(144, 203, 182);
  color: $white;
  padding: 0 0.5rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
